<div class="row">
  <div class="col s2">
    <header>
      <mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'" [fixed]="false" [closeOnClick]="true">
        <mz-sidenav-header class="sidenav-header">
          <a [routerLink]="''">Paylocity Challenge</a>
        </mz-sidenav-header>
        <mz-sidenav-link>
          <a [routerLink]="'/employees'">Employees</a>
        </mz-sidenav-link>
      </mz-sidenav>
      
      <button mz-button [id]="'btn-sidenav-demo'" class="sidenav-button" [float]="true" [large]="true">
        <i mz-icon-mdi [icon]="'menu'"></i>
      </button>
    </header>
  </div>
  <div class="col s10">
      <router-outlet></router-outlet>
  </div>
</div>
